<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".MainActivityLibrary"
            android:icon="@drawable/photo_album"
            tools:ignore="Instantiatable"></activity>
    </application>

</manifest>